/**
 * @package Ifuturz_Subscription
 */
.expand-child, .expanded ul li.collapsed .expand-child{
    background-image: url(../../images/subscription/plus_minus.gif);
    background-position: 0 4px;
    margin-right: 3px;
    width: 9px;    
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
}

.expanded .expand-child {
    background-image: url(../../images/subscription/plus_minus.gif);
    background-position: -11px 4px;
    margin-right: 3px;
    width: 9px;   
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
}
#treeNav input{float: left;margin-right: 3px;margin-top: 2px;}
#treeNav .collapsed ul{display: none;}
#treeNav ul {margin-left: 20px}
#treeNav ul span {cursor: pointer;}